body {
    background-color: #0a1630;
    color: #eee;
    font-family: monospace;
    height: 100%;
    width: 100%; 
    margin: 0; 
}

diva {
    outline: 1px solid pink; 
}

.dialogue-cover {
    z-index: 10;
    position: fixed;
    left: 0; 
    top: 0; 
    width: 100vw;
    height: 100vh; 
    background-color: #0008;
    z-index: 1;
    text-align: right;

    .dialogue {
        position: relative;
        width: 80%; 
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%);
        padding:0.5rem;
        background-color: #eee4;
        .title {
            text-align: center;
            font-size: 2rem;
        }
        .msg {
            text-align: left;
            margin: 0.5em 0; 
        }
    }
}

#loading {
    padding: 0.5em; 
    p, h1 {
        margin: 0
    }
}

$button-size: 4em;

@mixin img-button($url) {
    width: $button-size; 
    height: $button-size;
    border-radius: $button-size / 2;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-image: $url;
    cursor: pointer;
    &:hover{
        opacity: 0.5;
    }
}

.app {
    .editor{
        .headline {
            background: linear-gradient(0deg, rgba(11, 26, 87, 0.6), rgba(136, 172, 224, 0.438));
            border-bottom: 0.2em solid #fff7;
            text-align: center;
            .name{
            vertical-align: middle;
                display: inline-block;
                padding: 1em; 
                font-weight: bold;
            }
            .publish-button {
            vertical-align: middle;
                display: inline-block;
                @include img-button(url('./img/publish.png'))
            }
        }
        .play{
            @include img-button(url('./img/play.png'));
        }
        .recorder{
            position: fixed;
            text-align: center;
            width: 100%;
            bottom: 0;
            .record-button{
                display: inline-block;
                @include img-button(url('./img/record.png'));
                border-radius: $button-size / 2;
                cursor: pointer;
                &.recording {
                    background-image: url("./img/stop-record.png");
                }
            }
        }
        .track {
            background: rgba(208, 221, 240, 0.438);
            border-radius: 0.3em;
            margin: 0.3em; 
            min-height: 3em;
        }
    }
}