/* color definitions */
$danger: rgb(244, 91, 77);
$selected:rgb(132, 205, 223);
$turquoise: #36e3cf;
$brown: #cc6e40;
$grey: #c1c5c9;
$blue: #1e7daf;
$pink: #f482ed;


@mixin clickable-box-shadow {
  background-color: darken($grey, 36%);
  box-shadow: 0 0 1rem #0004;
  &:hover {
    box-shadow: 0 0 0.4rem #0004;
  }
}

@mixin clickable-surface {
  @include clickable-box-shadow();
  font-size: 1rem;
  cursor: pointer;
  user-select: none;
  border-radius: 0.3rem;
  padding: 1rem;
  margin: 1rem;
}

@mixin centered-background-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
