$danger: rgb(204, 61, 17);
$selected:rgb(132, 205, 223);

input {
  padding: 1em;
  margin: 0.5em;
}

@mixin clickable-box-shadow {
  box-shadow: 0 0 1em #0004;
  &:hover {
    box-shadow: 0 0 0.4em #0004;
  }
}


@mixin clickable-surface {
  @include clickable-box-shadow();
  cursor: pointer;
  user-select: none;
  border-radius: 0.3em;
  padding: 1em;
  margin: 1em;
}

@mixin centered-background-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.cornerbutton {
  @include centered-background-image;
  position:fixed;
  z-index: 10;
  background-color: #fff;
  height: 3em;
  width: 3em;
  background-size: 50%;
  cursor: pointer;
  border-radius: 0.5em;
  box-shadow: 0 0 0.5em #0008;
}

.cornerbutton.back {
  left: 1em;
  top: 1em;
  background-image: url('~@/assets/icons/back.svg');
}

.code {
  font-family: monospace;
}
